<div class="header unselectable header-animated">
  <div class="header-brand">
      <div class="nav-item no-hover">
          <a><h6 class="title">Let's Typify</h6></a>
      </div>
      <div class="nav-item">
          <a href="#">
              <span class="icon">
                  <i class="fa fa-github"></i>
              </span>
          </a>
      </div>
      <div class="nav-item nav-btn" id="header-btn">
          <span></span>
          <span></span>
          <span></span>
      </div>
  </div>
  <div class="header-nav">
  </div>
</div>